.caja1 {
 	margin:2%;
 	background-color: #fef0a1;
 	border: 10px solid #e7a219;
 	padding: 20px 20px 20px 20px;
	text-align: justify;
  	width: 40%;
  	float: left;
  	
}
.caja2 {
	clear:left;
 	margin:2%;
 	background-color: #fef0a1;
 	border: 3px dashed #000000;
 	border-radius: 10px 50px;
 	padding: 20px 20px 20px 20px;
	text-align: justify;
	box-shadow: 5px 9px 3px gray;
  	width: 40%;
  	float: left;
}
.caja3{
	position: absolute;
	right: 0;
	float: right;
	margin:2%;
	width: 40%;
	
}

.resaltado
{
	background-color: white;
	color:blue;
	font-weight:bold; 
}

p.bola {
	clear: both;
  margin:2%;
  border: 10px solid black;
  border-image-source: url("../img/bola-100.png");
  text-align: justify;
}
p.pastilla {
  border: silver 25px solid;
  border-image-source: url("../img/pastilla.png");
  border-image-slice: 25;
  padding: 10px;
  text-align: justify;
}
p.ventana {
  border: silver 20px solid;
  border-width: 50px 80px 20px 80px;
  border-image-source: url("../img/ventana.png");
  border-image-slice: 50 80 20 80;

  text-align: justify;
}
p.hormigas {
  border: silver 40px solid;
  border-image-source: url("../img/hormigas.png");
  border-image-slice: 70;
  border-image-repeat: stretch;
  /*border-image-repeat: repeat;
  border-image-repeat: round;
  border-image-repeat: space;*/

  padding: 10px;
  text-align: justify;
}
pre{
	margin:1%;
	border: 2px solid blue;
	background-color: white;
}